venv
actividad1/principal/migrations/__pycache__/0012_tarea_prioridad.cpython-311.pyc
actividad1/principal/__pycache__/views.cpython-311.pyc
actividad1/principal/__pycache__/models.cpython-311.pyc
actividad1/principal/__pycache__/forms.cpython-311.pyc
actividad1/principal/__pycache__/admin.cpython-311.pyc
actividad1/actividad1/__pycache__/urls.cpython-311.pyc
actividad1/actividad1/__pycache__/settings.cpython-311.pyc
