{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.4.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/estilos.css' %}">
    <title>base</title>
</head>
<body>
    <nav class="sidebar close">
        <header>
            <div class="image-text">
                <span class="image">
                    <img src="{% static 'img/logo.png' %}" alt="logo">
                </span>
            </div>
            <div class="text header-text">
                {% if user.is_authenticated %}
                <span class="name">Bienvenido, </span>
                <span class="profession">  
                    <h3>{{ user.first_name }} {{ user.last_name }}</h3>
                </span>
                {% endif %}
            </div>

            <i class='bx bx-chevron-right toggle'></i>
        </header>

        <div class="menu-bar">
            <div class="menu">
                <li class="search-box">
                        <i class='bx bx-search icon'></i>
                        <input type="text" placeholder="Buscar...">
                </li> 
                <ul class="menu-links">
                    <li class="nav-link">
                        <a href="{% url 'lista_tareas' %}">
                            <i class='bx bx-home icon'></i>
                            <span class="text nav-text">Inicio</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a href="#">
                            <i class='bx bx-bell icon'></i>
                            <span class="text nav-text">Notificaciones</span>
                        </a>
                    </li> 
                    <li class="nav-link">
                        <a href="#">
                            <i class="ri-task-line icon"></i>
                            <span class="text nav-text">Agregar Tarea</span>
                        </a>
                    </li> 
                </ul>
            </div>
            <div class="bottom-content">

                {% if user.is_authenticated %}
                <li class="">
                    <a href="{% url 'logout' %}">
                        <i class="bx bx-log-out icon"></i>
                        <span class="text nav-text">Cerrar sesión</span>
                    </a>
                </li>
                {% else %}
                <li class="">
                    <a href="{% url 'Login' %}">
                        <i class="bx bx-log-in icon"></i>
                        <span class="text nav-text">Iniciar Sesión</span>
                    </a>
                </li>
                {% endif %}

                <li class="mode">
                    <div class="moon-sun">
                        <i class="bx bx-moon icon moon"></i>
                        <i class="bx bx-sun icon sun"></i>
                    </div>
                    <span class="mode-text text">Modo Oscuro</span>

                    <div class="toggle-switch">
                        <span class="switch"></span>
                    </div>
                </li>  
            </div>
        </div>
        
    </nav>


    <section class="home">
        <div class="text">{% block content %}{% endblock %} </div>
    </section>
    

    <script src="{% static 'javascript/script.js' %}" ></script>
</body>
</html>