{% extends 'principal/base.html' %}
{% load static %}

{% block content %}
<div class="hero ">
    <div class="hero-body ">
        <div class="container has-text-centered">
            <h1><img src="{% static 'img/up(2).png' %}" alt="..."></h1>
            <div class="columns" style="justify-content: center; margin-top: 50px;">
                <div class=" is-4 ">
                <div class="card text has-text-left">
                        <form method="post" action="{% url 'crear_tarea' %}">
                            {% csrf_token %}
                            {{ form.as_p }}
                            
                            <button class="neon-btn" type="submit" ><a>Guardar</a></button>
                            <button class="neon-btn" ><a href="{% url 'lista_tareas' %}">Cancelar</a></button>
                        </form>
                    </div>
                </div>
            </div>    
        </div>
    </div>
</div>        
{% endblock %}