{% extends 'principal/base.html' %}
{% load static %}

{% block content %}

<div class="hero ">
    <div class="hero-body ">
        <div class="container has-text-centered">
            <h1><img src="{% static 'img/up(4).png' %}" alt="..."></h1>
            <div class="columns" style="justify-content: center; margin-top: 50px;">
                <div class=" is-4 ">
                    <div class="card text">
                        <h1>{{ tarea.titulo }}</h1>
                        <p>Descripción: {{ tarea.descripcion }}</p>
                        <p>Fecha de Vencimiento: {{ tarea.fecha_limite }}</p>
                        <p>Estado: {{ tarea.estado }}</p>
                        <p>Etiqueta: {{ tarea.etiqueta }}</p>
                        <form method="post">
                            {% csrf_token %}
                            {{ form.as_p }} 
                            <button class="neon-btn" type="submit"><a>Guardar Observación</a></button>
                        </form>
                            <button class="neon-btn"><a href="{% url 'editar_tarea' tarea.id %}">Editar</a></button>
                            <button class="neon-btn"><a href="{% url 'eliminar_tarea' tarea.id %}">Eliminar</a></button>
                            <button class="neon-btn"><a href="{% url 'completar_tarea' tarea.id %}">Completar</a></button>
                            <button class="neon-btn"><a  href="{% url 'lista_tareas' %}">Volver</a></button>
                    </div>    
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock %}