{% extends 'principal/base.html' %}
{% load static %}

{% block content %}

<div class="hero ">
    <div class="hero-body ">
        <div class="container has-text-centered">
            <h1><img src="{% static 'img/up(6).png' %}" alt="..."></h1>
            <div class="columns">
                <div class="column is-4 text has-text-centered">
                    <form method="get" action="{% url 'lista_tareas' %}">
                        <select name="etiqueta">
                            <option value="">Todas las etiquetas</option>
                            {% for etiqueta in etiquetas %}
                            <option value="{{ etiqueta.id }}" {% if etiqueta.id|stringformat:"s" == etiqueta_seleccionada %}selected{% endif %}>{{ etiqueta.nombre }}</option>
                            {% endfor %}
                        </select>
                        <select name="estado">
                            <option value="">Estados</option>
                            {% for estado in estados %}
                            <option value="{{ estado }}" {% if estado == estado_seleccionado %}selected{% endif %}>{{ estado }}</option>
                            {% endfor %}
                        </select>
                        <button type="submit" class="neon-btn" ><a>Filtrar</a></button>
                    </form>
                </div>
            </div> 
            <button class="neon-btn"><a href="{% url 'crear_tarea' %}">Agregar Tarea</a></button><br><br>
            <div class="columns is-multiline">
                {% for tarea in tareas %}
                <div class="column is-one-third">
                    <div class="card text2">
                        <ul>
                            <li>Título: {{ tarea.titulo }}</li>
                            <li>Fecha Límite: {{ tarea.fecha_limite }}</li>
                            <li>Estado: {{ tarea.estado }}</li>
                            <li>Prioridad: {{ tarea.prioridad }}</li>
                        </ul>
                        <button class="neon-btn"><a href="{% url 'detalle_tareas' tarea.id %}">Ver Tarea</a></button>
                    </div>
                </div>
                {% endfor %}
            </div>  
        </div>
    </div>                    
</div>
{% endblock %}
