{% extends 'principal/base.html' %}
{% load static %}

{% block content %}

    <h1>Tareas Pendientes</h1>
    <form method="get" action="{% url 'lista_tareas' %}">
        <select name="etiqueta">
            <option value="">Todas las etiquetas</option>
            {% for etiqueta in etiquetas %}
            <option value="{{ etiqueta.id }}" {% if etiqueta.id|stringformat:"s" == etiqueta_seleccionada %}selected{% endif %}>{{ etiqueta.nombre }}</option>
            {% endfor %}
        </select>
        <select name="estado">
            <option value="">Estados</option>
            {% for estado in estados %}
            <option value="{{ estado }}" {% if estado == estado_seleccionado %}selected{% endif %}" >{{ estado }}</option>
            {% endfor %}
        </select>
        <button type="submit">Filtrar</button>
    </form>

    <a href="{% url 'crear_tarea' %}">Agregar Tarea</a>
    <table>
        <thead>
            <tr>
            <th>Título</th>
            <th>Fecha de Vencimiento</th>
            <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for tarea in tareas %}
            <tr>
            <td>{{ tarea.titulo }}</td>
            <td>{{ tarea.fecha_limite }}</td>
            <td>
                <a href="{% url 'detalle_tareas' tarea.id %}">Ver</a>
            </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}